//
// Colors
//

$white: #fff
$off-white: #ddd
$light-slate: #243447
$slate: #1a2632
$dark-slate: #151f29
$blue-grey: #304251
$light-blue: #03A9F4
$light-grey: #8899a6
$grey: #929292
$black: #000

$green: #63a35c
$purple: #795da3
$steel-blue: #0086b3
$lime: #00c700

$dark-lime: darken($lime, 34%)
$dark-red: darken(red, 45%)

$text: $white
$light-text: $off-white
$link: $light-blue
$background: $slate
$border: $blue-grey
